* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.product {
  border: 4px solid black;
  width: 900px;
  margin: 50px auto;
  position: relative;
}

.sale-mark {
  background-color: #ec2f2f;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;

  display: inline-block;
  position: absolute;
  text-align: center;
  letter-spacing: 2px;

  top: -15px;
  left: -40px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.product-info {
  float: left;
  width: 243px;
  margin-right: 40px;
  margin-top: 20px;
}

.product-details {
  float: left;
  width: 243px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  margin-right: 10px;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.black-block {
  background-color: black;
}

.blue-block {
  background-color: #2f6ee2;
}

.red-block {
  background-color: #ec2f2f;
}

.yellow-block {
  background-color: #f0bf1e;
}

.green-block {
  background-color: #90cc20;
}

.brown-block {
  background-color: #885214;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
}
